
 .clear{
 clear:both;
 z-index:-9999;
 margin:0;
 padding:0;
 }
 
body{
	font-size:12px;
}

*, *:before, *:after {
box-sizing: initial !important;
}

.site-name{
	display:none;
	
}

.dockbar .site-name{
	display:block !important;
}
 
#wrapper {
width: 960px;
margin: 0 auto;
position:relative;
padding-bottom: 100px;
}
 
 #heading{
 height:80px;
margin:0;
padding:0px;
background:#e60000;
 }
 .vodafonelogo{
 width: 60px;
height: 60px;
margin: 10px 0 10px 20px;
padding-right: 20px !important;
border-right: 1px solid #bd0000;
float: left;
 }
 
  .vodafonelogo img{
  border:0px;
  outline:none;
  }
  
  .portlet-body{
  max-width: 960px;
}
.site-title{
height:80px;
margin:0;
padding:0px;
float:left;
}
 .sitetitle{
margin: 10px 0 0;
padding: 17px 20px ;
border-left: 1px solid #ff3c3c;
font-family: arial;
font-size: 25px;
line-height: 25px;
color: #fff;
text-shadow: 1px 1px 1px #980000;
float: left;
 }
 
 .headerarea{
 float:right;

 }
 
 .headtime{
 margin:33px 20px 0 0;
  text-shadow: 1px 1px 1px #980000;
 font-family:tahoma;
 font-size:12px;
 line-height:12px;
 color:#fff;
 }
 
 #footer{
 margin:30px 0 20px;
 border-top:1px solid #cccccc;
 padding-top:10px;
 text-align:center;
 width:100%;
 font-family:arial;
 font-size:12px;
 color:#999999;
 position:absolute;
 bottom:0;
 }
 
 .navbar-inner{
border-radius: 0px 0px 4px 4px !important;
 -moz-border-radius: 0px 0px 4px 4px !important;
 -webkit-border-radius: 0px 0px 4px 4px !important;
 
 padding-left: 0px !important;
 }
 
 
 .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color: #fff !important;
text-decoration: none !important;
background-color: #4b4a4b !important;
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.125) !important;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.125) !important;
box-shadow: inset 0 3px 8px rgba(0,0,0,.125) !important;
text-shadow: 1px 1px 1px #000 !important;
}
 
 
 .navbar .nav>li {
float: left !important;
height: 32px !important;
padding: 0 6px !important;
margin: 4px 0 !important;
border-left: 2px solid #fff !important;
border-right: 1px solid #DDDDDD !important;
}

.navbar .nav>li:first-child{
border-left: 0px !important;	
}

.navbar .nav>li:last-child{
border-right: 0px !important;	
}


.navbar .nav>li>a {
float: left;
padding: 6px 11px !important;
color: #777 !important;
text-decoration: none;
text-shadow: 1px 1px 0px #fff !important;
border-radius: 4px !important;
-webkit-border-radius: 4px !important;
-moz-border-radius: 4px !important;

font-size: 14px !important;
font-weight: bold !important;
}


.userarea{
background: #303030;
margin: 23px 20px 0;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
font-size: 12px;
font-family: tahoma;
color: #fff;
line-height: 11px;
padding: 12px;
width: 223px;
height:16px;
}

.usernamearea{
float: left;
width: 190px;
border-right: 1px solid #000;
height: 13px;
padding-top:3px;
}
.logoutarea{
float:left;
border-left:1px solid #4d4d4d;
padding-left:13px;
	
}

.rolegroup{
color:#c1c1c1 !important;
font-size:10px !important;
text-shadow: 1px 1px 1px #000 !important;
}

.loginfieldset {
border: 1px solid #b3b3b3 !important;
background: #f1f1f1 url(../../omp_main-theme/images/login-bg.png) no-repeat bottom left;
width: 490px;
margin: 100px auto;
height:290px;
position:relative;
}

.loginfieldset  legend{
background: #4b4b4b !important;
width: auto !important;
padding: 10px 40px !important;
font-size: 15px !important;
line-height: 15px !important;
color: #fff !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

text-shadow: 1px 1px 0px #000;
margin-left: 30px;
}
.loginfieldset label{
font-size: 12px;
font-family: arial;
color: #666666;
position: absolute;
top: -19px;
width: 100%;
}
.loginerorrmsgcontainer{
position:relative;
}

.loginuser, .loginpass {
float: right;
margin-right: 33px;
position:relative;
border:1px solid #b3b3b3;
height:30px;
margin-bottom:20px;
width: 225px;
}

.loginuser{
	background:#fff  url(../../omp_main-theme/images/userloginicon.jpg) no-repeat 10px center !important;
	margin-top: 35px;
margin-bottom: 45px;
}

.loginpass{
	background: #fff url(../../omp_main-theme/images/passloginicon.jpg) no-repeat 10px center !important;
}


.loginfieldset .aui-field-content{
	margin:0 !important;
	
}

.signoutbtn{
width: 16px;
height: 16px;
display: block;
text-indent: -10000px;
background: url(../../omp_main-theme/images/logout.png) no-repeat center center;
background-size: 100%;
}

.loginpage .portlet-topper{
	display:none;
}

.loginpage input[type="text"], .loginpage input[type="password"]{
padding: 3px 10px;
height: 17px;
margin-top: 4px;
border: 0!important;
outline: none!important;
background-color: #fff!important;
background-image: none!important;
box-shadow: none!important;
font-size: 12px;
border-left: 1px solid #D6D6D6!important;
margin-left: 36px;
border-radius: 0px !important;
color: #aaa;
width: 167px;
} 

.loginpage input[type="text"]:focus, .loginpage input[type="password"]:focus{
	color:#666;
	background:none !important;
	background-image:none !important;
	box-shadow:none !important;
}

.loginpage .aui-form-validator-error-container .aui-field-element {
background: url(/omp_main-theme/images/messages/error.png) no-repeat scroll 100% 80% !important;
}


.portlet-login .portlet-topper{
	display:none !important; 
	
}

.portlet-login input[type="submit"] {
float: right;
margin-right: 33px;
background: #dc1e0d url(../../omp_main-theme/images/login-btn-bg.jpg) repeat-x !important;
font-size: 12px;
font-weight: normal !important;
font-family: arial;
text-shadow: 1px 1px 1px #360000 !important;
color: #fff !important;
padding: 7px 20px !important;
border: 1px solid #7C0000 !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

}

.navbar-inner{
width:938px !important;
overflow: visible;
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #f9f9f9;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
border: 1px solid #d4d4d4;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;

-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);

}

.nav{
	margin:0;
	overflow: visible;
}

.navbar {
border: 0px !important;

}

.aui-form-validator-message.required{
width: 180px;
background-color: transparent !important;
clip: rect(0 0 0 0);
display: block;
margin-top: 2px;
padding: 2px 8px !important;
position: absolute !important;
top: -4px !important;
right: 11px !important;
z-index: 5;
color: #DA0000 !important;
text-align: right;
}

.portlet-login .portlet-msg-error{
	display:none;
}
.loginfieldset .portlet-msg-error, .loginfieldset .lfr-message-error {
background-color: #FDD;
background-image: url(../images/messages/error.png);
border-color: #F00;
position: absolute;
top: -18px;
width: 370px;
padding: 1px 27px;
left: 30px;
display:block !important;
}

#grForm .formactionbuttons {
padding-top: 20px !important;
}
.capslockon {
margin-top: 7PX;
color: rgb(218, 0, 0);
font-size: 11px;
margin-left: 40px;
}

.portlet-content{
padding:0px !important;
}
.nav-tabs {
border: 1px solid #d4d4d4;
background-color: #f9f9f9;
background-image: -moz-linear-gradient(top,white,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,white,#f2f2f2);
background-image: -o-linear-gradient(top,white,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFF2F2F2',GradientType=0);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
height: 48px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #fff;
cursor: pointer;
background-color: #4b4a4b;
border: 0px !important;
text-shadow: 1px 1px 1px #000;
height:17px;
}

.nav-tabs > li > a {
margin-right: 2px;
border: 1px solid #c1c1c1;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
float:left;
background: #dfdfdf; 
color: #4b4a4b;
font-weight: bold;
font-size: 13px;
line-height: 14px;
padding: 10px;
margin: 5px 5px 0;
}
.nav-tabs > li.active > .nav-tabs-arrow {
width: 18px;
height: 18px;
position: absolute;
background:  url(../../omp_main-theme/images/nav-tabs-arrow.png) no-repeat top;
left: 50%;
margin-left: -7px;
bottom: -18px;
display:block;
background-size: 100%;
}
.nav-tabs .filter{
float: left;
margin: 17px 2px 0 10px;
font-size: 11px;
}

.nav-tabs > li > .nav-tabs-arrow {
display:none;
}

.nav-tabs > li > a:hover {
border: 1px solid #A2A2A2;
background: #C7C7C7;
}

.nav-tabs .dropdown-menu {
margin-top: -1px;
margin-left: 9px;
}

.nav-tabs .dropdown li {
border-bottom: 1px dotted #ccc;
margin: 0 1px;
}

.nav-tabs .dropdown li:last-child {
border-bottom: 0px;
margin: 0 1px;
}

.listingtable {
width: 100% !important;
border: 0px solid #d5d5d5 !important;
border-spacing: 1px !important;
border-collapse: separate;
background: #ccc;
margin:20px 0;
}


.listingtable th {
background: #e60000;
color: #fff !important;
text-align: center;
padding: 15px 5px;
font-size: 14px;
font-weight: bold;
line-height: 12px;
text-shadow: 1px 1px 0px #6D0000;
}

.rqstnum{
width:112px !important;
}

.listingtable tr:hover {
background-color: #f9f9f9;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
border: 1px solid #d4d4d4;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;

cursor: default;
}

.listingtable tr:hover  td{
color:#000000 !important;
text-decoration:none !important;

}


.listingtable thead a{
color: #fff !important;
}

.listingtable thead a:hover{
color: #fff !important;
}

.listingtable td a{
color: #414141!important;
display: block;
width: 100%;
padding: 17px 0px;
text-decoration:none !important;
font-weight:bold;
}

.listingtable tbody tr:hover  a{
color: #e60000 !important;
text-decoration: underline !important;
cursor:pointer;
}

.listingtable tr td:last-child {
border-right: 0;
}
.listingtable  tr td:first-child {
border-left: 0px;
}
.listingtable td {
text-align: center;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-spacing: 1px;
border-collapse: separate;
max-width: 150px;
word-wrap: break-word;
color: #414141!important;
font-weight:bold;
padding:0 5px;
table-layout: fixed;
}

.listingtreven {
background: #eee;
}
.listingtrodd {
background: #E6E6E6;
}
.listingtoplinksarea{
float:right;
margin-right:0;
margin-bottom:10px;
}

.listingtoplink {
float: left;
background: #4b4a4b;
padding: 8px 15px;
margin-left: 20px;
border-radius: 4px;
font-size: 13px;
font-weight: bold;
color: #fff;
}

.listingtoplink:hover {
color:#ddd;
background: #6F6F6F;
text-decoration:none;
}

.ompformcontainer {
background: #f9f9f9;
border: 1px solid #d4d4d4;
padding: 20px;
position: relative;
margin-top: 25px;
}

.ompformwrapper {
margin-top: 50px;
}

.ompformtitle {
position: absolute;
background: #4b4b4b !important;
font-weight: bold;
top: -25px;
left: 22px;
padding: 15px 40px !important;
font-size: 15px !important;
line-height: 15px !important;
color: #fff !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

text-shadow: 1px 1px 0px #000;
}

.ompforminput {
width: 30%;
float: left;
margin-bottom: 24px;
position:relative;
}

.ompforminput input {
width: 200px;
background: #fff;
padding: 8px;
border:1px solid #ccc;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

}

textarea:disabled{
	background: #ededed !important;
}

select:disabled {
background: #ededed !important;
}

.ompforminput input[disabled], .ompforminput input[readonly]{
background:#ededed;
border:1px solid #ccc;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
color:#666;

}


.ompforminput select {
padding: 7px;
font-size: 12px;
width: 200px;
border:1px solid #ccc;
background:#fff;
background-image:none !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

}

.ompforminputtextarea {
float: left;
width:80%;
margin-bottom: 25px;
}

.ompforminputtextarea textarea {
width: 664px;
background:#fff;
background-image:none !important;
margin: 0px;
height: 87px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border:1px solid #ccc ;
}

.ompformlable {
width: 16%;
float: left;
margin-bottom: 20px;
text-align: right;
padding-right: 26px;
padding-top: 6px;
}

.addposition {
border-bottom: 1px solid #ddd;
padding: 25px 0 30px;
text-align: center;
margin: 0 50px;
}

.panel-collapse .addposition {
	
	border-bottom:0;
}

.addposition button, .addposition a {
background: #dc1e0d url(../../omp_main-theme/images/addpositionico.jpg) no-repeat 13px 9px !important;
color: #fff;
text-shadow: 1px 1px 0 #500;
font-weight: bold;
font-size: 14px;
padding: 10px 12px 10px 35px;
border: 1px solid #880b00;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.formactionbuttons {
padding: 30px 10px 10px;
text-align: center;
border-top: 2px solid #fff;
margin: 0 50px;
}

.savebtn, .cancelbtn {
background: #4b4a4b !important;
color: #fff !important;
text-shadow: 1px 1px 0px #000 !important;
padding: 8px 25px !important;
font-size: 13px !important;
margin: 0 10px !important;
background-image: none !important;
border: 1px solid #303030 !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.deletebtn {
background: #4b4a4b !important;
color: #fff !important;
text-shadow: 1px 1px 0px #000 !important;
padding: 8px 25px !important;
font-size: 13px !important;
margin: 0 10px !important;
background-image: none !important;
border: 1px solid #303030 !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.modal-dialog .ompforminput textarea{
background:#fff;
background-image:none !important;
margin: 0px;
height: 87px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

width: 580px;
}

.modal-dialog .formactionbuttons{
	
	padding:0 !important;
}


.submitbtn {
background: #5f1c4f url(../../omp_main-theme/images/submitbtn-bg.jpg) repeat-x top !important;
color: #fff !important;
text-shadow: 1px 1px 0px #000 !important;
padding: 8px 25px !important;
font-size: 13px !important;
margin: 0 10px !important;
border: 1px solid #2c0823 !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.modal-dialog {
width: 800px;
margin: 50px auto;
}


#positionsaccordion {
	margin: 0 30px;
}

#positionsaccordion  .panel-heading {
border-bottom: 0;
background: #dc1e0d;
border: 1px solid #7C3A3A;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
position:relative;
padding: 0;
margin-top: 25px;
}

#positionsaccordion .panel-heading a{
display: block;

width: 70%;
float: left;
padding: 15px;
text-shadow: 1px 1px 0px #7C3A3A;
color: #fff;
}


#positionsaccordion  .panel-collapse{
height: auto;
background-color: #fff;
border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
-webkit-border-radius:0 0 4px 4px;

margin-top: -2px;
border: 1px solid rgb(204, 204, 204);
}

.positioneditbtn {
background: #fff !important;
color: #555 !important;
padding: 5px 20px !important;
font-size: 13px !important;
margin: 0;
background-image: none !important;
border: 1px solid #8D261D !important;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.positioneditbtnarea{
 float:right;
margin-top: 9px;
margin-right: -13px;
}

.posaccordlabel {
text-align: right;
margin-right: 5px;
color: #222;
}
.posaccordlabel, .posaccordinfo {
float: left;
width: 15%;
font-size: 12px;
margin-bottom: 20px;
word-wrap: break-word;
}

 .posaccorddesc {
float: left;
width: 77%;
font-size: 12px;
margin-bottom: 20px;
word-wrap: break-word;
font-weight:bold;
}

.posaccordinfo {
text-align: left;
margin-left: 5px;
font-weight: bold;
color: #333;
}

.alert-success{
	margin-top: 20px;
margin-bottom: 0px;
font-weight:bold;
}


.portlet-title{
	display:none;
}

.portlet-topper-toolbar{
	z-index:1;
}


.navbar .headtime{
	float: right !important;
margin-top: 14px !important;
margin-right: 0px !important;
color: #a1a1a1 !important;
text-shadow: 1px 2px 0 #fff !important;
}

.ompforminput img {
position: absolute;
top: 4px;
right: 15px;
}

.grnumbertitle {
background: #555;
float: left;
margin-top: -35px;
color: #fff;
padding: 10px 15px;
font-weight: bold;
border-radius: 4px;
margin-bottom: 15px;
margin-left: 15px;
-moz-border-radius: 4px;
-webkit-border-adius: 4px;

}

.grinfobox {
border: 1px solid #d4d4d4;
margin: 20px 0 25px;
padding: 15px 5px;
position: relative;
background: #F3F3F3;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-adius: 4px;
}

.grinfobox .posaccordlabel{
	
	color:#777;
}

.portlet-dockbar .portlet-body{
	margin:0 auto;
}

.searcharea{
float:right !important;
margin-right:10px;
margin-top:5px;
}

.normalsearchcontainer{
float:right;
background:#fff;
border:1px solid #ccc;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
margin-top: 4px;
}

.advancedsearchcontainer{
float:right;
position:relative;
margin-left:10px;
border-left:1px solid #ccc;
padding:5px 0 7px 10px;
margin-top: 6px;
}

.idsearch {
float: right;
margin-left: 10px;
border-left: 1px solid #ccc;
padding: 0 0 0 10px;
margin-top: 4px;
display:none;
}

.idsearch  .normalsearchcontainer{
margin-top:0 !important;
}



.advancedsearchcontainer .popover{
    top: -14px!important;
left: -573px!important;
width: 580px;
	}

.advancedsearchlink{
text-decoration:underline;
color:#333;
font-size: 11px;
font-weight: bold;
}

.advancedsearchlink:hover{
text-decoration:none;
color:#000;
}

.normalsearchcontainer input[type="text"]{
background: #fff;
background-image: none !important;
border: 0 !important;
outline: none;
width: 145px;
padding: 6px 0px 6px 2px;
margin-left: 3px;
color: #666;
}


.normalsearchcontainer input[type="button"]{
text-indent: -10000px;
background: #fff url(../../omp_main-theme/images/search.png) no-repeat center center !important;
border: 0px !important;
outline: none;
width:18px !important;
height:18px !important;
padding: 0 !important;
margin: 6px 6px 0 !important;
}

.advancedsearchcontent{
display:none;
top: -14px!important;
left: -573px!important;
width: 554px;
margin-left: -10px;
position: absolute;
z-index: 1010;
padding: 1px;
text-align: left;
white-space: normal;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
background-clip: padding-box;
padding: 12px 14px;
}


.advancedsearchcontent:after,
.advancedsearchcontent:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.advancedsearchcontent:after {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
}

.advancedsearchcontent:before {
    top: 15px;
    border-color: transparent transparent transparent #AAA;
    border-width: 11px;
}​




.popover{
max-width:800px !important;
}

.advancedsearchform .formLabel{
font-weight: bold !important;
font-family: arial !important;
width: 165px !important; 
margin-right: 27px !important;
float: left !important;
padding: 6px 0 0px 10px !important;
text-align: left !important;
}

.advancedsearchform .formItem {
float: left;
width: 270px;
height: auto !important;
margin-left: 5px;
margin-bottom: 10px;
}

.advancedsearchform  .formField {
padding-left: 10px;
}

.advancedsearchform input[type="button"]{
float:right;
margin-bottom: 10px 10px 5px!important;
}

.loading, .nothingfound{
font-size: 30px;
color: rgb(238, 238, 238);
margin-top: 150px !important;
text-align: center;
}

 










	





.formFrame{border:solid 1px #ccc; padding:50px 0px 20px 0px;background:#f9f9f9;margin:20px 0 60px ;}

.formItem{float: left; width:450px;min-height:51px;margin-bottom: 10px; }
.formItem .formLabel{float:left; font-weight:bold; font-family:arial; width:165px;
margin-right: 27px;padding: 2px 0 3px;text-align:right}
.formItem .formLabel label{font-weight:bold!important}
.blockTitle{background-color: #4B4A4B !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px #000000 !important;
    width: 206px; height: 43px;
    text-align: center;font: bold 15px Arial;line-height:42px;
    border-radius: 4px !important; z-index:999;position:absolute;top:-70px;left:20px; }
    
.titleHolder{position:relative;}    

.btnContainer{clear:both;text-align:center;margin:22px 0 5px 0}
.formField select,.formField input{width:233px;font:normal 12px arial;background:#fff !important; background-image:none; border:1px solid #ccc;color:#333;vertical-align:middle;padding: 8px ;border-radius:4px;-moz-border-radius: 4px;
-webkit-border-radius: 4px; }

.formField input[disabled] {
background: #F1F1F1 !important;
}

#reportForm .formItem .formLabel{
padding-top:9px !important;
}

.clearBoth{clear:both;line-height:0;font-size:0;overflow:hidden}

.valueReport{border:solid 1px #8e8e8e; background-color: #bdbdbd; width:221px;height:221px;border-radius:4px; -moz-border-radius: 4px;
-webkit-border-radius: 4px; text-align:center;
                     background-image: linear-gradient(to bottom, #bdbdbd, #d7d7d7);background-repeat: repeat-x;
                     margin:10px 43px;float:left;position:relative; }
              
.reportTitle{font:bold 24px arial;color:#f9f9f9;width:189px; border-bottom: solid 1px #767676;margin:0 auto;
                     padding: 14px 0 18px;text-shadow:1px 1px 1px #858686}
.reportValue{font:bold 33px Arial; color:#444;width:189px; border-top: solid 1px #fff;
                     margin:0 auto;text-shadow: 1px 1px 1px #868685;position:absolute;padding:45px 0 0 0;z-index:999;
                     top:63px;left:15px;}
                     
.reportSign{font:bold 149px arial;color:#d8d8d8;text-shadow:none;padding-right: 12px;text-align: right;}
.BtnStyle{background-image: linear-gradient(to bottom, #461239, #5e1c4e) !important;background-color:#5e1c4e;
    background-repeat: repeat-x!important;color:#fff!important;font:bold 15px arial!important;
    padding:7px 20px!important;text-shadow:none!important;border: 1px solid #7C0000 !important;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.exportStyle,.exportStyle:hover,.exportStyle:active,.exportStyle:visited,.exportStyle:focus{color:#fff;font:bold 15px arial;padding:5px 20px;background-color:#4b4a4b;background-image:none!important; margin:0 20px;text-shadow:none!important}
.linedBreak{border-bottom:solid 1px #ccc;height:1px;margin:40px auto 0;width:95%;text-align:center}
.formTxt{font:bold 18px arial;color:#888; float: left;width: 256px;}

.reportForm .formItem .formLabel{font:bold 15px arial!important;color:#4b4a4b!important }
.reportForm{margin-bottom:10px !important;}

.tablePaging{margin: 10px auto ;width:100%;text-align:center;font:normal 14px Arial; color:#878787}
.tablePaging a:link,.tablePaging a:visited,.tablePaging a:hover{
	font:normal 14px Arial;color:#878787;
    background:url(../../omp_main-theme/images/paging.png) no-repeat center center; width:20px; height:24px; display:inline-block;
    margin: 5px 1px;padding: 5px 4px 0; text-decoration:none!important;
    cursor:pointer;
    }
.tablePaging a.nextArrow:link,.tablePaging a.nextArrow:visited,.tablePaging a.nextArrow:hover{
background:url(../../omp_main-theme/images/next.png) no-repeat 7px 6px !important;
 margin:5px 1px 5px 13px; text-indent:-9999px}           
                                                                                                
.tablePaging a.previousArrow:link,.tablePaging a.previousArrow:visited,.tablePaging a.previousArrow:hover{
background:url(../../omp_main-theme/images/previous.png) no-repeat 12px 6px!important;
margin:5px 8px 5px 1px; text-indent:-9999px}     

.tablePaging .currentPage{
	color:#fff;background:url(../../omp_main-theme/images/pagingCurrent.png) no-repeat center center ;width:20px;height:24px;display:inline-block;
    font:bold 15px Arial;margin: 5px 1px;padding: 5px 5px 0 4px;}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.portlet-topper-toolbar{
display:none;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.uploadFileWrapper{text-align:center;width:912px;margin:20px auto;border-bottom:solid 1px #dedede;padding:0 0 22px 0 }
.browseFileWrapper{text-align:center;border:dashed 1px #898989;background:#fff;width:495px; height:90px ; font:bold 17px arial;color: #666;padding:30px 30px 30px 25px;margin:35px auto 20px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; position:relative;}             
.browseFileWrapper input{color:#666;width:221px;height:36px;background:#fff;border:0 !important;box-shadow: none;margin: 20px auto;text-align:center; font-size: 12px; outline: none !important; border:0 !important;}
.uploadBtn { text-align:center}
.uploadBtn input{
width: 123px;
box-shadow: none;
border: 1px solid #880b00;
border-radius: 4px;
color: #fff !important;
font-size: 14px;
font-weight: bold;
padding: 10px 0px 10px 20px;
text-shadow: 1px 1px 0 #500;
background: #dc1e0d url(../../omp_main-theme/images/upload.png) no-repeat 16px 5px !important;
}

.uploadBtn input:hover{
width: 123px;

border: 1px solid #880b00;
border-radius: 4px;
color: #fff !important;
font-size: 14px;
font-weight: bold;
padding: 10px 0px 10px 20px;
text-shadow: 1px 1px 0 #500;
background: #dc1e0d url(../../omp_main-theme/images/upload.png) no-repeat 16px 5px !important;
}

.deletered {
text-indent: -10000px;
width: 20px;
height: 20px;
margin: 0 0 0 10px;
padding: 0;
border: 0;
background: transparent url(../../omp_main-theme/images/DeleteRed.png) no-repeat center center !important;
border-radius: 0;
}

.uploading {
position: absolute;
width: 100%;
padding-top: 60px;
padding-bottom: 50px;
margin: 0;
top: 0px;
left: 0;
background: #FFF;
display: none;
}

#uploadedFile{
display:none;
}
#uploadedFile li a{
font-weight: bold;
color: #428bca;
text-decoration: none;
}

#uploadedFile li{
margin:0;
padding:8px 5px;
list-style-image:url(../../omp_main-theme/images/icon_attachment.gif);
list-style-position: inside;
}

.uploadedfilestitle {
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #ccc;
float: left;
padding: 5px 20px 10px 0;
margin-bottom: 15px;
color: #888;
}

#uploadedFile {
background: #fff;
border: 1px solid #ccc;
padding: 10px;
margin-top: 25px;
}

.hasfiles{
display:block !important;
}
.viewallfiles{
margin-bottom:15px;
}

.panel-heading input[type="checkbox"]{
float: left;
margin-top: 17px;
margin-left: 10px;
}

.combobox-container {
  *zoom: 1;
}
.combobox-container:before,
.combobox-container:after {
  display: table;
  content: "";
}
.combobox-container:after {
  clear: both;
}
.combobox-container input,
.combobox-container .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.combobox-container input:focus,
.combobox-container .uneditable-input:focus {
  position: relative;
  z-index: 2;
}
.combobox-container .uneditable-input {
  border-left-color: #ccc;
}
.combobox-container .add-on {
  float: left;
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: inherit !important;
  margin-left: -28px;
  padding: 4px 5px;
  font-weight: normal;
  color: #999999;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  
}
.combobox-container .active {
  background-color: #428bca;
  border:0;
}
.combobox-container input,
.combobox-container .uneditable-input {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.combobox-container .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc;
}
.combobox-container .add-on {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}
.combobox-container input:first-child {
  *margin-left: -160px;
}
.combobox-container input:first-child + .add-on {
  *margin-left: -21px;
}
.combobox-container select {
  display: inline-block;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  text-indent: -99999px;
  *text-indent: 0;
}
.form-search .combobox-container,
.form-inline .combobox-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
.form-search .combobox-container .add-on,
.form-inline .combobox-container .add-on {
  vertical-align: middle;
}
.combobox-selected .combobox-clear {
  display: inline-block;
}
.combobox-selected .caret {
  display: inline-block;
}
.combobox-clear {
  display: none;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.dropdown:hover .combobox-clear,
.open.dropdown .combobox-clear {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn .combobox-clear {
  margin-top: 1px;
  margin-left: 1px;
}
.btn:hover .combobox-clear,
.open.btn-group .combobox-clear {
  opacity: 1;
  filter: alpha(opacity=100);
}
.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
}
.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}
.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}
.btn .combobox-clear [class^="icon-"] {
  line-height: 1.4em;
}

.nodropdownarrow{
    -moz-appearance: none;
       -webkit-appearance: none;
}


.combobox-container .caret{
text-indent: -10000px;
}

.posnumedit{
position:relative;
float:left;
}

.posnumedit input:focus{

position: absolute;
top: 12px !important;
left: 116px;
height: 13px;
width: 80px;
border-radius: 3px;
padding: 4px 20px 4px 6px;
font-size: 12px !important;
background-color: white !important;
background-image:none !important;
border: 1px solid #777 !important;
color:#222 !important;
text-shadow: none !important;
}

.posnumedit input{

position: absolute;
top: 11px;
left: 116px;
height: 13px;
width: 80px;
border-radius: 3px;
padding: 6px 20px 6px 6px;
font-size: 16px;
border: 0;
font-weight: bold;
color: #fff;
text-shadow: 1px 1px 0px #000;
background: #B61616 url(../../omp_main-theme/images/edit-icon.png) no-repeat 84px center;
}

.posnumedit input[disabled]{
background-color: transparent !important;
background-image: none !important;
position: absolute;
top: 11px;
left: 116px;
height: 13px;
width: 80px;
border-radius: 3px;
padding: 5px 20px 6px 6px;
font-size: 16px;
border: 0;
font-weight: bold;
color: #fff !important;
text-shadow: 1px 1px 0px #000;
}

.positionerrormsghead{
position: absolute;
top: 9px;
right: 60px;
}

.alert{
margin-top:20px;
}

.positionerrormsghead .alert{
padding: 5px 15px;
margin-top:0 !important;
}

.trackingcode .combobox {
border: 1px solid #ccc !important;
}

#deleteBtnDiv{
display:inline-block;
}

#trackingForm .aui-form-validator-message{
clip: auto !important;
left: 265px !important;
top: 4px !important;
width:auto !important;
padding: 5px 11px !important;
}

.dropdown-menu li a:hover{
border-radius: 0!important;
-moz-border-radius: 0!important;
-webkit-border-radius: 0!important;
border: 0!important;
font-weight: normal!important;
background: #428bca!important;
color: #fff;
padding: 3px 20px 3px 20px !important;
}

.dropdown-menu li:hover{
border:0px !important;
background:none !important;
}

.dropdown-menu{
border: 1px solid rgb(204, 204, 204) !important;
}