
.listingtable {
border: 0px solid #d5d5d5 !important;
border-spacing: 1px !important;
border-collapse: separate;
background: #ccc;
margin:0px 0 30px;
min-width:500px;
}


.listingtable th {
background: #154b75;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF427EAD',endColorstr='#FF154B75');
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#427ead),color-stop(100%,#154b75));
background-image: -webkit-linear-gradient(#427ead,#154b75);
background-image: -moz-linear-gradient(#427ead,#154b75);
background-image: -o-linear-gradient(#427ead,#154b75);
background-image: linear-gradient(#427ead,#154b75);
color: #fff !important;
text-align: center;
padding: 15px 5px;
font-size: 14px;
font-weight: bold;
line-height: 12px;
text-shadow: 1px 1px 0px #6D0000;
}

.listingtable tr:hover {
background-color: #f9f9f9;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
border: 1px solid #d4d4d4;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;

cursor: default;
}

.listingtable tr:hover  td{
color:#000000 !important;
text-decoration:none !important;

}


.listingtable thead a{
color: #fff !important;
}

.listingtable thead a:hover{
color: #fff !important;
}

.listingtable td a{
color: #414141!important;
display: block;
width: 100%;
padding: 10px 0px;
text-decoration:none !important;
font-weight:bold;
}

.listingtable tbody tr:hover  a{
color: #3E73A7 !important;
text-decoration: underline !important;
cursor:pointer;
}

.listingtable tr td:last-child {
border-right: 0;
}
.listingtable  tr td:first-child {
border-left: 0px;
}
.listingtable td {
text-align: center;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-spacing: 1px;
border-collapse: separate;

word-wrap: break-word;
color: #414141!important;
font-weight:bold;
padding:0 8px;
}

.listingtreven {
background: #F0F3F7;
}
.listingtrodd {
background: #DDE3E7;
}
.listingtoplinksarea{
float:right;
margin-right:0;
margin-bottom:10px;
}

.listingtoplink {
float: left;
background: #4b4a4b;
padding: 8px 15px;
margin-left: 20px;
border-radius: 4px;
font-size: 13px;
font-weight: bold;
color: #fff;
}

.listingtoplink:hover {
color:#ddd;
background: #6F6F6F;
text-decoration:none;
}

.actionbutn{
float: left;
background: #4b4a4b;
padding: 8px 15px;
margin-right: 20px;
border-radius: 4px;
font-size: 13px;
font-weight: bold;
color: #fff;
text-decoration: none;
text-transform: capitalize;
margin-bottom: 50px;
}

.ccuser tr:nth-child(odd){
background:#DDE3E7;
}

.deleteicon a{
background:url(../../omp_main-theme/images/trash-can-delete.png) no-repeat center center; 
width:24px !important; 
height:4px; 
display:block;
margin:0 auto;
text-indent:-100000px;
background-size:23px 24px;
}


.tablePaging{margin: 10px 0;width:100%;font:normal 14px Arial; color:#878787}
.tablePaging a:link,.tablePaging a:visited,.tablePaging a:hover{
	font:normal 14px Arial;color:#878787;
    background:url(../../omp_main-theme/images/paging.png) no-repeat center center; width:20px; height:24px; display:inline-block;
    margin: 5px 1px;padding: 8px 4px 0; text-decoration:none!important;text-align:center;
    cursor:pointer;
    }
.tablePaging a.nextArrow:link,.tablePaging a.nextArrow:visited,.tablePaging a.nextArrow:hover{
background:url(../../omp_main-theme/images/next.png) no-repeat 7px 6px !important;
 margin:5px 1px 5px 13px; text-indent:-9999px}           
                                                                                                
.tablePaging a.previousArrow:link,.tablePaging a.previousArrow:visited,.tablePaging a.previousArrow:hover{
background:url(../../omp_main-theme/images/previous.png) no-repeat 12px 6px!important;
margin:5px 8px 5px 1px; text-indent:-9999px}     

.tablePaging .currentPage{
	color:#fff;background:url(../../omp_main-theme/images/pagingCurrent.png) no-repeat center center ;width:20px;height:24px;display:inline-block;
    font:bold 15px Arial;margin: 5px 1px;padding: 8px 5px 0 4px; text-align:center;}
	
	
.adminform {
background: #FAFAFA;
padding: 20px;
border-radius: 5px;
border: 1px solid #ccc;
}

.adminform input[type="text"]{
width: 240px;
height: 22px;
margin-bottom: 20px;
padding: 6px;
font-size: 13px;
margin-top: 2px;
}

.adminform textarea{
margin: 0px;
height: 107px;
width: 500px;
}

.adminform .aui-field-input, .adminform select, .adminform textarea {
margin-bottom: 20px;
padding: 8px 5px;
}
.adminform .aui-field-label {
margin-bottom: 3px;
}
 .adminform select{
width: 252px;
}

.adminform input[type="submit"] {
 background-color: #154b75 !important; 
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF427EAD',endColorstr='#FF154B75');
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#427ead),color-stop(100%,#154b75));
background-image: -webkit-linear-gradient(#427ead,#154b75);
background-image: -moz-linear-gradient(#427ead,#154b75);
color: #fff;
background-image: -o-linear-gradient(#427ead,#154b75);
background-image: linear-gradient(#427ead,#154b75);
text-shadow: 1px 1px 2px #000;
border: 1px solid #003C74;
padding: 8px 15px;
font-size: 13px;
}

.clear{
clear:both;
}

.portlet-title{
margin-left:10px;
}


.adminform .aui-form-validator-message{
left: 100% !important;
margin-left: 4px !important;
top: 1px !important;
}

.adminform .aui-form-validator-error-container .aui-field-element{
background: url(/html/themes/control_panel/images/messages/error.png) no-repeat scroll 100% 8px !important;
}

.adminform .aui-field-input-choice{
float:left !important;
padding: 0 5px 0 0 !important;
}